body {
  margin: 0;
  height: 100vh;
  background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom 40vh right 48vw,  top 50vh left 48vw;;
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans";
  font-size: 18px;
}

.container{
  width: 100vw;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: #fff;
  display: flex;
  width: 25rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 10px 10px 100px -45px;
}

.header{
  background-image: url('./images/bg-pattern-card.svg');
  min-height: 10rem;
  width:inherit;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

img{
  transform: translate(150px, 110px);
  border-radius: 50%;
  border: solid 5px white;
}

.content{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name{
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.age{
  margin-left: 0.5rem;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

.city{
  font-size: 0.950rem;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  margin-bottom: 2rem;
}

.bottom{
  display: flex;
  width: inherit;
  justify-content: space-evenly;
  border-top: solid 1px rgb(218, 218, 218);
}

.followers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.count{
  color: hsl(229, 23%, 23%);
  font-weight: 700;
  font-size: 1.250rem;
  margin-bottom: 0rem;
}

.text{
  text-align: center;
  font-size: 0.7rem;
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}